/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "../plugin/lesshat/lesshat.less";
@themeColor: #FFCB02;
@fontColor: #000;
@fontColorGrey: #8B8B8B;
@darkBlue: #002855;


@font-face {
    font-family: 'Gill Sans';
    src:url('../fonts/gillsans/GillSans-LightItalic.eot');
    src:url('../fonts/gillsans/GillSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-LightItalic.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-LightItalic.woff') format('woff'),
        url('../fonts/gillsans/GillSans-LightItalic.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-LightItalic.svg#GillSans-LightItalic') format('svg');
        font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans-UltraBold.eot');
    src: url('../fonts/gillsans/GillSans-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-UltraBold.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-UltraBold.woff') format('woff'),
        url('../fonts/gillsans/GillSans-UltraBold.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-UltraBold.svg#GillSans-UltraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans-Light.eot');
    src: url('../fonts/gillsans/GillSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-Light.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-Light.woff') format('woff'),
        url('../fonts/gillsans/GillSans-Light.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-Light.svg#GillSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans-Bold.eot');
    src: url('../fonts/gillsans/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-Bold.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-Bold.woff') format('woff'),
        url('../fonts/gillsans/GillSans-Bold.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-Bold.svg#GillSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans.eot');
    src: url('../fonts/gillsans/GillSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans.woff') format('woff'),
        url('../fonts/gillsans/GillSans.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans.svg#GillSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans-Italic.eot');
    src: url('../fonts/gillsans/GillSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-Italic.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-Italic.woff') format('woff'),
        url('../fonts/gillsans/GillSans-Italic.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-Italic.svg#GillSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans-SemiBoldItalic.eot');
    src: url('../fonts/gillsans/GillSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/gillsans/GillSans-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-SemiBoldItalic.svg#GillSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gfillsans/GillSans-BoldItalic.eot');
    src: url('../fonts/gfillsans/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gfillsans/GillSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/gfillsans/GillSans-BoldItalic.woff') format('woff'),
        url('../fonts/gfillsans/GillSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/gfillsans/GillSans-BoldItalic.svg#GillSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/gillsans/GillSans-SemiBold.eot');
    src: url('../fonts/gillsans/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gillsans/GillSans-SemiBold.woff2') format('woff2'),
        url('../fonts/gillsans/GillSans-SemiBold.woff') format('woff'),
        url('../fonts/gillsans/GillSans-SemiBold.ttf') format('truetype'),
        url('../fonts/gillsans/GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}


#x-mas-wrapper{
    font-family: 'Gill Sans', Roboto, "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

#x-mas-wrapper{

    .body{
        background-image: url(../images/bg.jpg);
        background-repeat: repeat;
        background-size: 100%;
    }

    @media only screen and (max-width: 600px){
        .body{
            background-image: url(../images/bg_mb.jpg);
            background-repeat: repeat;
            background-size: 100%;
        }
    }

    .scrollspy{
        display: block!important;
    }

    .btn{
        &.green-btn{
            background-color: #22524F!important;
            color: #fff;
        }
        &.red-btn{
            background-color: #EF8B9C!important;
            color: #fff;
        }
    }



    button:focus{
        background-color: #fff;
    }
    .navbar-fixed{
        height:0;
    }
    nav.nav-extended{
        background-color: #fff;
        left:0;
        // border-bottom: 1px solid #B2B2B4;
        .nav-wrapper{
            position: relative;
            z-index: 2;
            background-color: #fff;
            min-height:0;
            height:0;
        }
        .nav-content{
            
            .display(flex);
            background-color: #fff;
            position: relative;
            z-index: 2;
            &.hide-on-small-only{
                height: 0 !important;
            }
            &.nav-section{
                position: absolute;
                width: 100%;
                background-color: #fff;
                top: 0;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                .transition(all 0.5s ease-in-out);
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                .tabs{
                    .display(flex);
                    width: auto;
                    margin: 0 auto;
                    &.tabs-transparent{
                        .indicator{
                            background-color: @themeColor;
                            width: 6px;
                            height: 6px;
                            background-color: @themeColor;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            .border-radius(10px);
                        }
                        >.tab{
                            a{
                                font-size: 14px;
                                text-transform: capitalize;
                                color: @fontColorGrey;
                                &:hover{
                                    color: @fontColor
                                }
                                &.active{
                                    color: @fontColor
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 992px){
        nav.nav-extended{
            .nav-content.nav-section{
                width: 100%;
                right: 0;
                height: 0;
                display: block;
                
                background-color: #f6f6f6;
                >.trigger{
                    padding: 0 20px;
                    font-size: 14px;
                    color: @fontColor;
                    line-height: 48px;
                    position: relative;
                    cursor: pointer;
                    background-color: #fff;
                    >i{
                        position: absolute;
                        line-height: 48px;
                        top: 0;
                        right:30px;
                    }
                }
                >ul{
                    height: 0;
                    display: block !important;
                    opacity: 0;
                    visibility: hidden;
                    background-color: #fff;
                    .transition(all 0.5s ease-in-out);
                    &.active{
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                    }
                    .indicator{
                        display: none;
                    }
                    li{
                        width: 100%;
                        display: block;
                        text-align: left;
                        padding: 0 20px;
                        a{
                            padding: 0px;
                            border-bottom: 1px solid #8b8b8b;
                        }
                        &.last{
                            a{
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }


    @media only screen and (max-width: 600px){
        nav.nav-extended{
            .nav-content.nav-section{
                background-color: #fff;
                width: 100%;
                top: 0px;
                >.trigger{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 15px;
                    font-size: 20px;
                    >i{
                        right: 15px;
                    }
                }
                ul{
                    background-color: #f6f6f6;
                    li{
                        width: 95%;
                        margin: 0 auto;
                        padding: 0;
                        float: inherit;
                        a{
                            font-size: 16px !important;
                            padding-left: 4%;
                            position: relative;
                            &.active{
                                &::before{
                                    color: @themeColor;
                                    content: '\f111';
                                    font: normal normal normal 14px/1 FontAwesome;
                                    font-size: 8px;
                                    text-rendering: auto;
                                    position: relative;
                                    -webkit-font-smoothing: antialiased;
                                    top: -3px;
                                    padding-right: 5px;
                                    position: absolute;
                                    left: 0;
                                    top: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 601px){
        .navbar-fixed {
            // margin-bottom: 50px;
        }
    }


     
     p {
       line-height: 2rem;
     }
     
     .button-collapse {
       color: #26a69a;
     }
     
     .parallax-container {
       min-height: 600px;
       line-height: 0;
       height: auto;
       color: rgba(255,255,255,.9);
     }
       .parallax-container .section {
         width: 100%;
       }
     
     @media only screen and (max-width : 992px) {
       .parallax-container .section {
         position: absolute;
         top: 40%;
       }
       #index-banner .section {
         top: 10%;
       }
     }
     
     @media only screen and (max-width : 600px) {
       #index-banner .section {
         top: 0;
       }
       #index-banner{
           
       }
     }
     

     .card{
        margin: 0;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        >.card-image{
            display: block;
            outline: 0;
            border: 0;
        }
        >.card-content{
            padding:0px 10px 15px 10px;
            >.title{
                .transition(all 0.5s ease);
                font-size: 16px;
                color: #002855;
                line-height: 20px;
                padding-bottom: 0;
                max-width: 100%;
                margin: 0 auto;
                display: block;
                outline: 0;
                border: 0;
                //height: 40px;
                //overflow: hidden;
                //min-height: 40px;
            }
            >.price{
                font-size: 14px;
                color: #8B8B8B;
                display: block;
                margin-top: 10px;
            }
        }
        &:hover{
            >.card-content{
                >.title{
                    height: auto;
                    overflow: auto;
                }
            }
            
        }
    }


    @media only screen and (max-width: 600px) {

     .card{
         height: 100%;
        >.card-image{
        }
        >.card-content{
            >.title{
                //height: auto !important;
                //overflow: auto !important;
                //min-height: auto !important;
            }
            >.price{
            }
        }
        &:hover{
            >.card-content{
                >.title{
                    height: auto;
                    overflow: auto;
                }
            }
            
        }
    }
    }


     #index-banner{
        >.section{
            >.container{
                padding-top:50px;
                >img{
                    display: block;
                    margin: 0 auto;
                    opacity: 0;
                    visibility: hidden;
                }
                >.row{
                    >h5{
                        font-size: 20px;
                        line-height: 36px;
                        margin-top: 40px;
                        opacity: 0;
                        visibility: hidden;
                        float: none;
                        margin-left: auto;
                        margin-right: auto;
                        &.en{
                            line-height: 26px;
                        }
                    }
                }
            }
        }
     }

     @media only screen and (max-width : 600px) {
        #index-banner{
            >.section{
                >.container{
                    >img{
                        width: 70%;
                    }
                    >.row{
                        >h5{
                            font-size: 16px;
                        }
                        >i{
                            margin-top: 80px;
                        }
                    }
                }
            }
         }
      }


     section{
         position: relative;
         >.ab-bg-1{
             position: absolute;
             bottom: 0;
         }
         &#section1{
          padding-bottom: 14%;   
         }
         >.container{
             >.section{
                 .row{
                     >.col{
                         >.section-header{
                             padding-top:10px;
                             padding-bottom: 5px;
                         }
                         >a{
                            &.btn{
                                background-color: #002855;
                                .border-radius(20px);
                                font-size: 15px;
                                box-shadow: none;
                                padding: 0 2.6rem;
                                margin-top: 20px;
                                font-weight: 300;
                                color: #fff;
                            }
                        }
                     }
                     &.section-1-grid{
                         .display(flex);
                         .flex-wrap(wrap);
                         .justify-content(center);
                         >.outer{
                            width: 25%;
                            padding: 0 0.75rem;
                            padding-top:30px;
                            position: relative;
                            display: none;
                            opacity: 0;
                            visibility: hidden;
                            background-image: none;
                            .transition(all 1s ease-in-out);
                            >.golden-cir{
                                position: absolute;
                                right: -3%;
                                bottom: -28px;
                                z-index: 3;
                            }
                            &.show{
                                .display(flex);
                                opacity: 1;
                                visibility: visible;
                            }
                            &.anim{
                                opacity: 0;
                                visibility: hidden;
                            }
                            >.der{
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                z-index: 1;
                                display: none;
                                z-index: 3;
                            }
                            >.box-bg{
                                width:100%;
                                background-size: inherit;
                                padding:5px;
                                >.card{
                                    >.card-content{
                                        background-color: transparent;
                                    }
                                }
                                
                            }
                            &:nth-child(2), &:nth-child(3){
                                //.flex-direction(column);
                                >.der{
                                    display: block;
                                }
                                >.box-bg{
                                    .flex(1);
                                    .flex-direction(column);
                                    background-image: url(../images/box_pattern_bg.png);
                                    position: relative;
                                    >.fill-box{
                                        position: absolute;
                                        z-index: 1;
                                        width: 100%;
                                        height: 100%;
                                        border: 6px solid transparent;
                                        .background-clip(border);
                                        .background-clip(padding);
                                        .background-clip(content-box);
                                        background-color: #fff;
                                        left: 0;
                                        top: 0;
                                    }
                                    >.card{
                                        position: relative;
                                        z-index: 2;
                                    }
                                }
                            }   
                            &:first-child{
                                width:40%;
                                .display(flex);
                                //.flex-direction(column);
                                >.der{
                                    display: block;
                                }
                                >.box-bg{
                                    .flex(1);
                                    .flex-direction(column);
                                    background-image: url(../images/box_pattern_bg.png);
                                    position: relative;
                                    >.text-wrap{
                                        position: absolute;
                                        z-index: 2;
                                        bottom: 20px;
                                        width: 100%;
                                        left: 0;
                                        text-align: center;
                                        color: #fff;
                                        line-height: 16px;
                                        >.title{
                                            text-transform: uppercase;
                                            padding-bottom:10px;
                                            color: #fff;
                                            display: inline-block;
                                        }
                                        >.price{
                                            padding-bottom:10px;
                                        }
                                    }
                                    >.product{
                                        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4)), url(../images/section1_p1_bg.jpg);
                                        background-repeat: no-repeat;
                                        background-position: center bottom;
                                        background-size: cover;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0;
                                        z-index: 1;
                                        top: 0;
                                        border: 6px solid transparent;
                                        .background-clip(border);
                                        .background-clip(padding);
                                        .background-clip(content-box);
                                    }
                                }
                            }
                         }
                     }
                 }
             }
         }
     }

     @media only screen and (max-width: 998px){
        section{
            >.container{
                >.section{
                    >.row{
                        &.section-1-grid{
                            .display(flex);
                            .flex-wrap(wrap);
                            .justify-content(center);
                            >.outer{
                               width: 30%;
                            }
                        }
                    }
                }
            }
        }
     }

     @media only screen and (max-width: 600px){
        section{
            &#section1{
             padding-bottom: 24%;   
            }
            >.container{
                >.section{
                    .row{
                        >.col{
                            >.section-header{
                                padding-top:10px;
                                padding-bottom: 5px;
                            }
                            >a{
                               &.btn{
                                   background-color: #002855;
                                   .border-radius(20px);
                                   font-size: 15px;
                                   box-shadow: none;
                                   padding: 0 2.6rem;
                                   margin-top: 20px;
                                   font-weight: 300;
                                   color: #fff;
                               }
                           }
                        }
                        &.section-1-grid{
                            .display(flex);
                            flex-wrap: wrap;
                            >.outer{
                               width: 50%;
                               margin-bottom: 20px;
                               .flex-direction(column);
                               >.box-bg{
                                    .display(flex);
                                   .flex(1);
                                   .flex-direction(column);
                                   width:100%;
                                   display: block;
                                   height: inherit;
                                   position: relative;
                                   >.fill-box{
                                        position: absolute;
                                        z-index: 1;
                                        width: 100%;
                                        height: 100%;
                                        border: 6px solid transparent;
                                        .background-clip(border);
                                        .background-clip(padding);
                                        .background-clip(content-box);
                                        left: 0;
                                        top: 0;
                                   }
                                   >.card{
                                       position: relative;
                                       z-index: 2;
                                       height: inherit;
                                   }
                                   
                               }
                               &:first-child{
                                   width:100%;
                                   min-height: 260px;
                                   height: 260px;
                                   display: block;
                                   >.der{
                                       display: block;
                                   }
                                   >.box-bg{
                                       background-image: url(../images/box_pattern_bg.png);
                                       display: block;
                                       height: 100%;
                                       >.fill-box{
                                           display: none;
                                       }
                                       >.product{
                                            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4)), url(../images/section1_p1_bg.jpg);
                                           background-repeat: no-repeat;
                                           background-size: cover;
                                           width: 100%;
                                           height: 100%;
                                           display: block;
                                           position: relative;
                                           display: block;
                                           border: 0;
                                           >.text-wrap{
                                               position: absolute;
                                               bottom: 0;
                                               width: 100%;
                                               left: 0;
                                               text-align: center;
                                               color: #fff;
                                               line-height: 16px;
                                               >.title{
                                                   text-transform: uppercase;
                                                   padding-bottom:10px;
                                               }
                                               >.price{
                                                   padding-bottom:10px;
                                               }
                                           }
                                       }
                                   }
                               }
                            }
                        }
                    }
                }
            }
        }
     }     



     @media only screen and (min-width: 993px){
        #bg-1, #section2, #section3{
            .container {
                width: 80%;
                max-width: 1380px;
            }       
        }
     }

     #bg-1{
         padding-top:40px;
         >img{
            top: -12%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
         }
         >.container{
             >.section{
                 >.row{
                    .card{
                        visibility: hidden;
                        opacity: 0;
                        .card-content{
                            .title{
                                min-height: 40px;
                                height: 40px;
                                
                            }
                        }
                        .card-image{
                            padding: 0 10px;
                        }
                    }
                 }
             }
         }
     }

     @media only screen and (max-width: 600px){
        #bg-1{
            padding-top: 20px;
            >img{
                width: 60%;
            }
        }
     }

     #section2{
         >.container{
             >.section{
                 >.row{
                     .card{
                         opacity: 0;
                         visibility: hidden;
                         .card-content{
                            .title{
                                min-height: 40px;
                                height: 40px;
                            }
                           }
                        .card-image{
                            padding: 0 10px;
                         }
                     }
                 }
             }
         }
     }

     @media only screen and (max-width: 600px){
        #section2{
            >.container{
                >.section{
                    >.row{
                        .col{
                            .section-header{
                                img{
                                    width: 48%;
                                }
                            }
                        }
                        .card{
                            .card-image{
                                padding: 0 10px;
                             }
                         }
                    }
                }
            }
        }
    }

    #section3{
        >.container{
            >.section{
                >.row{
                    .section3-slick{
                        max-width: 800px;
                        margin: 0 auto;
                    }
                    .card{
                        opacity: 0;
                        visibility: hidden;
                        .card-image{
                            padding: 0 10px;
                            margin-bottom: 20px;
                         }
                         >.card-content{
                             >.title{
                                height: auto;
                                overflow: auto;
                             }
                         }
                     }
                     .slick-dots{
                         display: none;
                     }
                     .slick-list{
                         margin-top: 35px;
                     }
                     
                }
            }
        }
    }

    @media only screen and (max-width: 600px){
        #section3{
            >.container{
                >.section{
                    >.row{
                        .col{
                            .section-header{
                                img{
                                    width: 48%;
                                }
                            }
                        }
                        .card{
                            .card-image{
                                padding: 0 10px;
                             }
                         }
                    }
                }
            }
        }
    }


    #section4{
        background-image: url(../images/bg_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 10%;
        padding-bottom: 8%;
        background-attachment: fixed;
        >.top-layer{
            background-image: url(../images/bg_2_top.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            min-height:158px;
            position: absolute;
            top:-1px;
        }
        >.bottom-layer{
            background-image: url(../images/bg_2_bottom.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height:216px;
            position: absolute;
            bottom:-1px;
        }
        >.container{
            >.section{
                >.row{
                    .col{
                        .section-header-sub{
                            color: #fff;
                        }
                    }
                    &.show-on-large{
                    }
                    .card{
                        opacity: 0;
                        visibility: hidden;
                        background-color: transparent;
                        .card-content{
                            padding-top:0px;
                            .title{
                                height: auto !important;
                                overflow: auto !important;
                            }
                            .price{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 600px){

        #section4{
            background-attachment: unset;
            >.top-layer{
            }
            >.bottom-layer{
                height: 50px;
            }
            >.container{
                >.section{
                    >.row{
                        &.show-on-large{
                        }
                        .col{
                            .section-header{
                                img{
                                    width: 52%;
                                }
                            }
                        }
                        .card{
                            background-color: transparent;
                            .card-image{
                                width: 66%;
                                margin: 0 auto;
                            }
                            .card-content{
                                .title{
                                    width: 100%;
                                    max-width: 100%;
                                }
                                .price{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #section5{
        >.container{
            >.section{
                >.row{
                    .col{
                        position: relative;
                        >.icon{
                            position: absolute;
                            right: -20px;
                            top: -80px;
                        }
                    }
                    >.col{
                        >.title{
                            min-height: 100px;
                            margin-top: 20px;
                        }
                    }
                    .card{
                        visibility: hidden;
                        opacity: 0;
                        .card-image{
                            padding: 0 10px;
                         }
                     }
                }
            }
        }
    }

    @media only screen and (max-width: 600px){
        #section5{
            >.container{
                width: 100%;
                >.section{
                    >.row{
                        margin: 0;
                        .col{
                            padding: 0;
                            >.icon{
                                right: 0px;
                            }
                        }
                        .col{
                            .section-header{
                                img{
                                    width: 45%;
                                }
                            }
                        }
                        >.col{
                            margin-bottom: 30px;
                            >.title{
                                min-height: auto;
                                margin-top: 20px;
                                padding: 0 20px;
                            }
                        }
                        .card{
                            .card-image{
                                padding: 0 10px;
                             }
                             >.card-content{
                                 >.title{
                                     min-height: 40px !important;
                                 }
                             }
                         }
                         &:nth-child(3){
                             width: 90%;
                             margin: 0 auto;
                         }
                    }
                }
            }
        }
    }

    .back2top, .scroll-down-btn{
        cursor: pointer;
    }

    @media only screen and (max-width: 600px){
        .slick-prev, .slick-next{
            background-color: transparent;
            box-shadow: none;
        }
        .slick-prev{
            //left: -12px;
        }
        .slick-next{
            //right: -12px;
        }

    }


    .animated{
        visibility: visible !important;
        opacity: 1;
    }

    .dark-blue{
        color: @darkBlue !important;
    }

    .btn.disabled{
        background-color: #8b8b8b !important;
        color: #fff !important;
    }

}